# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Galaxy Space Shooter.iml
# Datasource local storage ignored files
/../../../../../:\Galaxy Space Shooter\.idea\.idea.Galaxy Space Shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
